.pro-matches-container {
    color: lightgray;
}
.table-container {
    border: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.table-container td {
    border: #242735;
    padding: 8px;
    text-align: left;
    color: lightgray;
}

.table-container tr:nth-child(even){background-color: #2D2D40;}

.table-container tr:hover {
    background-color: #1e2235;
}

.table-container th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #242735;
    color: white;
}
